#box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../../public/assets/img/cat.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

#box__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.box__grid {
  margin: 10px;
}

.box__formControl {
  margin: 30px;
}

.cats {
  display: flex;
}

.cats__image {
  max-height: 90%;
  max-width: 90%;
}
