.child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("../public/assets/img/cat.jpg");
  background-size: cover;
  background-position: center;
}
.cats {
  display: flex;
}
.cats__image {
  margin: auto;
  max-height: 90%;
  max-width: 90%;
}
